<!-- will start at views/ -->
<%- include("partials/header") -%>

    <h1>Home</h1>
    <p>
        <%= homeStartingContentKey %>
    </p>


    <p>
        <%= blogPostsKey[0] %>
    </p>

    <%- include("partials/footer") -%>